<section class="nasa-missions-card-container" ...attributes>
  <button
    class={{if this.isFavorited "button-like-selected" "button-like"}}
    {{on "click" this.toggleFavorite}}
  >
    <i class="fa fa-heart"></i>

  </button>
  <h3 class="nasa-missions-card-title">

    {{#if @mission.name}}
      {{@mission.name}}
    {{/if}}
  </h3>
  <p class="nasa-missions-card-endDate">
    {{#if @mission.startDate}}
      {{@mission.startDate}}
    {{/if}}
    -
    {{#if @mission.endDate}}
      {{@mission.endDate}}
    {{/if}}
  </p>

</section>