<div class="iss-tracker-container">
  <div
    class="iss-tracker-map"
    {{did-insert this.setupMap}}
    {{did-update this.updateMarker @iss.latitude @iss.longitude}}
  ></div>

  <section class="iss-tracker-coordinates">
    <div class="iss-tracker-data">
      <h3>Latitude</h3>
      <h3>{{@iss.latitude}} N</h3>
    </div>

    <div class="iss-tracker-data">
      <h3>Longitude</h3>
      <h3>{{@iss.longitude}} W</h3>
    </div>

    <div class="iss-tracker-data">
      <h3>Last updated (GTM)</h3>
      <h3>{{@iss.formattedTimestamp}} </h3>
    </div>
  </section>
</div>