{{page-title "Homepage"}}

<div class="homepage-container">
  <h1 class="homepage-welcome-message">
    Step inside - your journey to the stars starts here!
  </h1>

  <aside class="homepage-random-fact">
    <h2>
      Did you know?
    </h2>

    <div>
      <h3>{{@model.title}}</h3>
      <p>{{@model.fact}}</p>
      <small>Source: {{@model.source}}</small>
    </div>

  </aside>
</div>
{{outlet}}